<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>References</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h2>
        Booked Rooms Information 
    </h2>
    <a class="btn btn-default pull-right" th:href="@{/brokers/{code}/bulks(code=${broker.code})}">Bulks</a>
    <br/>
    <br/>
    <h3>Reference</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Reference</th>
            <th>Hotel</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Room Type</th>
            <th>Price</th>
            <th>Cancellation </th>
            <th>Cancellation Date</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="reference: ${references}">
            <td th:text="${reference.id}">id</td>
            <td th:text="${reference.hotelName}">hotel</td>
            <td th:text="${reference.arrival}">arrival</td>
            <td th:text="${reference.departure}">departure</td>
            <td th:text="${reference.bookRoom}">roomtype</td>
            <td th:text="${reference.price}">price</td>
            <div th:if="${reference.cancellation}">
                <td>CANCELLED</td>
             </div>
             <!-- ELSE -->
             <div th:unless="${reference.cancellation}">
                <td><a 
                    th:href="@{/brokers/{code}/bulks/{bulkID}/references/{ref}/cancel(code=${broker.code}, ref= ${reference.id}, bulkID=${bulkID})}">CANCEL</a></td>
             </div>
            <td th:text="${reference.cancellationDate}">cancellationDate</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>